@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*font-family: 'Lato',sans-serif;*/

#root {

  margin: 0 auto;
  padding: 1vh;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  color: #f2f2f2;
}



.heading {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100vw;
  max-width: 100%;
  height: 3rem;
  padding: 1vh;
  top:0%;
  justify-content: space-between;
  flex-direction: row;
  background-color: #181a1b;
  color: #f2f2f2;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #f2f2f2;
}
@media only screen and (min-width: 1700px) {
  .scrolldown {
      position: absolute;
  }
    .navbar {
      width: 20vw;
      padding-right: 2vw;
    }
    .contact {
      width: 60%;
    }
    .resume {
      width: 7vw;
    }
}

@media only screen and (max-width: 1699px) {
  .scrolldown {
      position: relative;
    }
    .navbar{
      padding-right: 2vw;
      width: 30vw;
    }

    .contact {
      width: 60%;
    }
    .resume {
      width: 10vw;
    }
}

@media only screen and (max-width: 1179px) {
    .scrolldown {
      position: relative;
    }

    .navbar{
      display: none;
    }

    .hideOnSmall{
      display: none;
    }
    .contact {
      width: 100%;
    }
    .resume {
      width: 25vw;
    }

    
}

.scrollImage{
  width: 6vh;
  height: 6vh;
  margin: 0 0.4rem;
}


.button{
  position: relative;
  background: #181a1b;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  color: #f2f2f2;
}

.contact{
  width: 13rem;
}

.titleLink{
  color: #b6869e;
}

.titleLink:link{
  text-decoration: none;
}

.titleLink:link:hover{
  text-decoration: underline;
}

#a{
  color: #f2f2f2;
}

.button::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 0.175rem;
  bottom: 0;
  left: 0;
}

.button{
  text-decoration: none;
  justify-content: center;
  padding: 1rem 0;
  height: 3rem;
}

.nav::after{
    transform: scaleX(0);
    transition: transform 0.25s ease-in;
    background: #b6869e;
}

.nav:hover::after{
  transform: scaleX(1);
}


.name{
  font-weight: bold;
}

.contact{
  font-style: italic;
  align-self: right;
}
.scrolldown {
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: bounce 1s infinite;
  margin-top: 1%;
}

.hide{
  display: none;
  opacity: 0%;
}

.showSlow {
  animation: 1.4s appear;
  animation-fill-mode: forwards;
}


.pink {
  color: #181a1b;
  position: relative;
  background: none;
  border: none;
  opacity: 100%;
  animation: 1.4s ease-in-out appear;
  animation-fill-mode: forwards;
}


.pink::after {
  content: "";
  opacity: 100%;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  transform: scale(1, 1);
  transform-origin: 0% 0%;
  position: absolute;
  background: #b6869e;
  /*transition: transform 0.3s ease-in-out;*/
  animation: 1.4s ease-in-out anim;
  animation-fill-mode: forwards;
}

@keyframes anim {
  0% {
    transform: scaleX(0);
    opacity: 100%;
  }

  49% {
    transform-origin: 0% 0%;
    opacity: 100%;
  }

  50% {
    transform: scaleX(1);
    transform-origin: 100% 0%;
    opacity: 100%;
  }

  100% {
    transform: scaleX(0);
    transform-origin: 100% 0%;
    opacity: 100%;
  }
}

.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  background-color: #181a1b;
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.sectionName{
  font-size: 8vh;
  font-weight: 300;
  text-decoration: underline;
  color: #6e4258;
}

.resume {
  object-fit: scale-down;
}

.description{
  text-align: center;
  font-weight: 400;
  width: 80%;
  line-height: 1.3;
}

.showContact{
  opacity: 0;
  transition: all 0.5s ease-in-out;
  filter: blur(10px);
  transform: translateY(50%);
}

.reveal-visible {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}


@keyframes appear {
  0% {
    color: #181a1b;
  }

  49% {
    color: #181a1b;
  }

  50% {
    color: #b6869e;
  }

  100% {
    color: #b6869e;
  }
}