@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*font-family: 'Lato',sans-serif;*/

#root {

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.heading {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /*padding: 1rem 0;*/
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 30%;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.home{
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  height: 80vh;
  align-items: center;
}
.lefthome{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;
}
.title{
  align-self: flex-start;
  font-size: 4vh;
}

.pfp{
  width: 40vh;
}


.button{
  background: none;
  border: none;
  font-size: 1.5rem;
}


.name{
  font-weight: bold;
}

.contact{
  font-style: italic;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding-top: 5%;
}

/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/
