@media only screen and (min-width: 1700px) {
    .home {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 1rem 0;
        height: 80vh;
        align-items: center;
    }
        .leftHome {
            padding-left: 0.5vh;
            width: 70vh;
        }
    
        .rightHome {
            margin-left: 5vh;
            width: 40vh;
            margin-right: 0%;
        }
    .pfp {
        width: 70vh;
    }

    .socialCol {
        display: none;
    }


}
@media only screen and (max-width: 1699px) {
    .home {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            padding: 1rem 0;
            align-items: center;
        }

    .leftHome {
        padding-left: 0.5vh;
        width: 70vh;
    }
        
    .rightHome {
        margin-left: 5vh;
        width: 40vh;
        margin-right: 0%;
    }
        
    .pfp {
        width: 70vh;
    }
        
    .socialCol {
        display: none;
    }

}

@media only screen and (max-width: 1200px) {

    .home {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            padding: 1rem 0;
            align-items: center;
        }

        .leftHome {
            width: 80vw;
        }
    
        
    .pfp {
        width: 70vw;
    }

    .socialCol {
        display: none;
    }

     .rightHome {
         margin-left: 0;
         width: 40vh;
         margin-right: 0%;
     }
}

.rightHome {
    display: flex;
    flex-direction: column;
    white-space: normal;
    display: inline block;
    text-align: left;
}

.leftHome {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    white-space: pre;
}

.title {
    font-size: 4vh;
    align-self: flex-left;
    font-weight: 400;
    margin: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.title2 {
    font-size: 4vh;
    align-self: flex-left;
    font-weight: 400;
    margin: 0;
}

.social {
    width: 6vh;
    height: 6vh;
    margin: 0 0.4rem;
}
.socialCol{
    width: 6vh;
    height: 6vh;
    margin: 0 0.4rem;
    margin-top: 0.7rem;
    padding-right: 1rem;
}
.colSocial{
    display: flex;
    position: absolute;
    right: 0;
    top: 35%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1;
    height: 8vh;
}

.para {
    margin-top: 0%;
    margin-bottom: 0%;
    font-weight: 400;
    align-items: flex-start;
    margin-right: 0;
    margin-left: 0%;
}

.intro {
    font-size: 8vh;
    font-weight: 400;
    line-height: 10vh;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 0%;
    margin-top: 1%;
    margin-right: 0;
    margin-left: 0%;
}